
/* ----------- Index part ----------- */

body{
	font-family: 'Quattrocento', serif;
    background-color: #f2f2f2;
    margin: 0px;
}

/* formatting for the searchbar contents to be centered*/
div.searchBarIndex { 
	width: 70%;
	margin: auto;
	border: none;
	margin-top: 5%;
	text-align: center;
}

input.search {/*moves the input to where it needs to be*/
	width: 80%;
	margin-bottom: 5%;
	text-align: center;
	height: 50px;
	font-size: 18px;
}

.searchbutton{
    background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

h1.webTitle{ /*moves text to center*/
	text-align: center;
	margin-top: 10%;
	font-size: 50px;
}

p.webTitle{
	text-align:  center;
}


.pic { /*adjusts the google images*/

	font-size: 50px;
}

.signin{
    background-color: lightblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* ----------- Search page part ----------- */

/* This is for the heading for the website across all pages except the index page */
.navBar{
    text-align: center;
    background-color: #8bdb70;
    padding: 0.3%;
    width: 100%;
    margin-bottom: 1%;
}

#noUnderline{
    text-decoration: none; /* This is to remove the underline since the 'logo' is also a link to the homepage */
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    
    float: left;
    
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;

    border-right: none;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
   
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #add8e6;
    color: white;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
    
}

form.example button:hover {
    background: #8AACB8;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.datecol{
    height: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius:2px;
}

.dateInput{
    font-size: 120%;
    width: 30%;
    text-align: center;
}


.content {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    
}

.Map {
    height: 200px;
    border: 1px solid grey;
    margin: 10px 0px 0px 0px;
    background-color:white;
    
}
.SearchBar {
    border: 0px solid grey;
    background-color:#37454d;
    width:100%;
    padding: 10px 0px 10px 0px;
    margin: 0px;

}
.sort  {
    width: 10%;
    margin:6px;
    font-size:90%;
}
.searchOrder {
    text-align:right;

}



/* ----------- Hotel viewing part ----------- */